/**************************
 Carlos Triana - UO283428
 Descripción de los estilos
 **************************/
 /* a=0 b=0 c=1 -> specificity =   1 */
 body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: black;
     background-color: rgb(231, 242, 255);

     display: grid;
     grid-gap: 1em;
     grid-template-rows:  auto 1fr auto;
     grid-template-areas:
         'header'
         'main'
         'footer'
     ; 
 }

/* a=0 b=0 c=1 -> specificity =   1 
   Hereda color de body*/
 header, footer {
   background-color: aliceblue;
 } 

 /* a=0 b=0 c=1 -> specificity =   1 */
 header{ grid-area: header; }

 /* a=0 b=0 c=1 -> specificity =   1 */
 footer{ grid-area: footer; }

 /* a=0 b=0 c=1 -> specificity =   1 */
 main{ grid-area: main; }

 /* a=0 b=0 c=1 -> specificity =   1 */
 @media (min-width: 45em){
   header{
       display: grid;
       grid-gap: 1em;
       grid-template-columns: auto auto auto;
       grid-template-areas:
           'logo title nav';
   }
}
 /* a=0 b=0 c=2 -> specificity =   2 */
 header h1{ grid-area: title; }
 header img{ grid-area: logo; }
 header nav{ grid-area: nav; }

 /* a=0 b=0 c=1 -> specificity =   1 
   Hereda el color de body*/
 section {
   background-color: rgb(253, 244, 230);
 }

 
 /* a=0 b=0 c=1 -> specificity =   1 */
 nav{
   margin-top: 3vh;
   margin-right: 2vw;
   margin-bottom: 3vh;
   margin-left: 2vw;
   border: 10em;
   padding: 0.5em;
 }

 /* a=0 b=0 c=1 -> specificity =   1 */
 ul{
    background: white;
    padding: 1em;
 }

 /* a=0 b=0 c=2 -> specificity =   2 */
 ul li{
   display: run-in;
   padding: 0.1em;
   margin-left: 1em;
 }

 /* a=0 b=1 c=1 -> specificity =   11 
   Hereda el background-color*/
 a:link, a:visited{
   color:rgb(31, 0, 144);
}

/* a=0 b=1 c=1 -> specificity =   11
  Hereda el background-color*/
 a:hover, a:active{
   color: black;
}

 /* a=0 b=1 c=2 -> specificity =   12 */
 nav a:link, nav a:visited{
   background-color: white;
   color:black;
   padding: 1em 1em;
   text-decoration: none;
   display: inline-block;
   margin-top: 0.5em;
}

/* a=0 b=1 c=2 -> specificity =   12 */
nav a:hover, nav a:active{
   background-color: lightgray;
   color:black;
}

 /* a=0 b=0 c=1 -> specificity =   1 */
 table, th{
    border: 0.2em solid;
 }

  /* a=0 b=0 c=1 -> specificity =   1 */
 table td{
    border: 0.1em solid;
 }

  /* a=0 b=0 c=1 -> specificity =   1 */
 video{
   width: 50%;
   height: auto;
 } 