/**************************
 Carlos Triana - UO283428
 Hoja de estilo que define
 un grid layout para el contenido.
 Se emplea un media query para
 hacer la pagina resonsiva y que 
 cambie la apariencia en función
 del dispositivo.
 **************************/

  /* a=0 b=0 c=1 -> specificity =   1 */
 body{
    display: grid;
    grid-gap: 1em;
    grid-template-rows:  auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer'
    ; 
}

 /* a=0 b=0 c=1 -> specificity =   1 */
 @media (min-width: 45em){
    header{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto auto auto;
        grid-template-areas:
            'logo title nav';
    }
 }

  /* a=0 b=0 c=1 -> specificity =   1 */
 header{ grid-area: header; }
  /* a=0 b=0 c=2 -> specificity =   2 */
 header h1{ grid-area: title; }
 header img{ grid-area: logo; }
 header nav{ grid-area: nav; }
  /* a=0 b=0 c=1 -> specificity =   1 */
 main{ grid-area: main; }
 footer{ grid-area: footer; }